# Ignore development files  
*.tsbuildinfo
*.log
tsconfig.json
gulpfile.js
.editorconfig
.prettierrc.js
.eslintrc*
prettier*

# Ignore source code folders
nodes/
credentials/

# Ignore documentation and development folders
docs/
archived/
.vscode/

# Ignore dependencies
node_modules/
pnpm-lock.yaml

# Ignore other development files
CODE_OF_CONDUCT.md

# Ignore hidden files and folders except .git is already excluded above
.DS_Store
.env*
.git*
.vscode*